$brand-color:         #c6b008;
$highlight:           lighten($brand-color, 35%);
$text-color:          #000000;
$muted-text-color:    #373737;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;


// d3d38f
// $muted-text-color:    #64644B;